{% extends 'layout.html' %} 
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12 order-md-1 mt-5 py-5">
      <form class="needs-validation" novalidate="">
        <div class="row">
          {% include 'includes/carousel.html' %}

          <!-- 캠핑장 이름 -->
          <div class="col-md-6 mb-3 ">
            <label for="firstName">캠핑장이름</label>
            <div
              class="border rounded bg-light-grey"
              style="height: 2.5rem; background-color: #e9ecef"
            >
              <div class="p-2 ml-auto">{{ post.title }}</div>
            </div>
          </div>

          <!-- 방문일자 -->
          <div class="col-md-6 mb-3">
            <label for="lastName">방문일자</label>
            <div
              class="border rounded bg-light-grey"
              style="height: 2.5rem; background-color: #e9ecef"
            >
              <div class="p-2 ml-auto">{{ post.visited_at }}</div>
            </div>
            <div class="invalid-feedback">Valid last name is required.</div>
          </div>
        </div>

        <!-- 리뷰 -->
        <div class="mb-3">
          <label for="review">리뷰</label>
          <div
            class="border rounded bg-light-grey"
            style="height: 2.5rem; background-color: #e9ecef"
          >
            <div class="p-2 ml-auto">{{ post.review }}</div>
          </div>
        </div>

        <!-- 캠핑종류 -->
        <div class="mb-3">
          <label for="address">캠핑종류</label>
          <div
            class="border rounded bg-light-grey"
            style="height: 2.5rem; background-color: #e9ecef"
          >
            <div class="p-2 ml-auto">{{ post.kind_of_camping }}</div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
