<div class="navbar navbar-dark bg-dark shadow-sm fixed-top">
    <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
                class="mr-2"
                viewBox="0 0 24 24"
                focusable="false"
            >
                <path
                    d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"
                />
                <circle cx="12" cy="13" r="4" />
            </svg>
            <strong>Album</strong>
        </a>
    </div>

    {% if user.is_authenticated %}
    <div class="col-md-auto text-white">
        로그아웃
    </div>
    {% else %}
    <div class="col-md-auto text-white">
        <a href="{% url 'accounts:signin' %}">로그인</a>
    </div>
    {% endif %} {% if user.is_authenticated %}
    <div class="col col-lg-2 text-white">
        {{ user.username }}
    </div>
    {% else %}
    <div class="col col-lg-2 text-white">
        Anonymous
    </div>
    {% endif %}
</div>